@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Playfair+Display:wght@600&display=swap');

body{
    font-family: "Oswald", sans-serif;
    background-color: black;
    font-size: 200px;
    height: 100vh;
}
.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:20px;

}

.hour{
    gap:15px;
    display: flex;
    flex-direction: rox;
}

.minutes{
    gap:15px;
    display: flex;
    flex-direction: rox;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.digit {

    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.decimal{
    color: azure;
    padding-left: 50px;
    padding-right: 50px;
}

